.Main
    .Main-Header
        .Main-Header__box
            %ul.Main-Header__box_lists
                %li test
                %li
                    %ul.Main-Header__box_lists_members
                        Member :
                        %li.Main-Header__box_lists_members_member 
                        masa
            = link_to "", {class: "Main-Header__box_edit"} do
                Edit
                
    .Main-Middle
        .Main-Middle
            .Main-Middle__box
                .Main-Middle__box_single
                    %ul.Main-Middle__box_single_namelists
                        %li.Main-Middle__box_single_namelists_name         masa
                        %li.Main-Middle__box_single_namelists_date         2019/11/20(Wed)  17:43:01
                    %p.Main-Middle__box_single_message
                        こんにちは
                .Main-Middle__box_single
                    %ul.Main-Middle__box_single_namelists
                        %li.Main-Middle__box_single_namelists_name         masa
                        %li.Main-Middle__box_single_namelists_date         2019/11/20(Wed)  17:50:01
                    %p.Main-Middle__box_single_message
                        今日は夜から雨
            
    .Main-Bottom
        %form.Main-Bottom__form
            .Main-Bottom__form_content
                %input.Main-Bottom__form_content_text{:name => "text", :placeholder => "type a    message", :type => "text"}
                %label{class: "Main-Bottom__form_content_image"}
                    %i.fa.fa-images
                    %input{type: "file"}
            %input.Main-Bottom__form_btn{:type => "submit", :value => "SEND"}