.Side
  .Side-Header
      .Side-Header__box
          %p.Side-Header__box_name User
          %ul.Side-Header__box_lists
              %li
                  = link_to edit_user_registration_path(current_user.id), class: "new" do
                      %i.fa.fa-plus-square{:style => "padding-right: 10px"}
              %li
                  = link_to class: "settings" do
                      %i.fa.fa-cog
  .Side-Main
      .Side-Main__box
          %ul.Side_Main__box_lists
              %li.Side-Main__box_lists_name techcamp
              %li.Side-Main__box_lists_message まだメッセージはありません。